@use "../layout/variable" as *;

#header {
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;

    .header-content {
        margin-left: 10vw;
        font-size: 1.5vw;
    }

    .header-content2 {
        margin-right: 10vw;
        justify-content: flex-end;
        margin-top: 1vw;
        font-size: 1.5vw;

        ul,
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: inherit;
                margin-left: 3vw;
                font-size: 1vw;
                img{
                    width: 2vw;
                }
            }
        }
    }
}